<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 id="profile" class="text-black pt-40 text-[40px] font-medium">PERFIL</h2>
      <div class="px-3 max-w-md mx-auto">
        <p class="text-black text-sm">
          Ingeniero industrial altamente capacitado en la gestión de
          información, con habilidades para el trabajo en equipo, el manejo de
          la información, apasionado por la tecnología, la programación, amplio
          conocimiento en manejo completo de datos, incluyendo datos en bruto,
          instrucciones de procesamiento, libros de códigos y datos procesados,
          especializado en el área de Ingeniería de datos.
        </p>
      </div>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-4 flex mx-auto">
        <a
          class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 hover:bg-gray-300 hover:border-gray-300 hover:text-black transition-colors inline-flex justify-center items-center"
          href="https://drive.google.com/file/d/1feg2D8MQ-w8qgVlF8g5zb_ZcFKYHIO0c/view?usp=sharing"
          target="_blank">CURRICULUM</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      class="h-full w-full object-cover object-center bg-image"
      src="/Data5.png"
      alt="Fondo Analitica futuristica"
    />
  </div>
</section>
