<section
  class="landing-section h-screen w-screen overflow-hidden relative"
  data-header-color="black"
>
  <div
    class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
  >
    <div class="z-30 relative h-full w-full flex flex-col py-44">
      <header>
        <h2
          id="profile"
          class="text-black text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
        >
          Hola, Soy Diego Vasquez 
        </a>
        </h2>
        <div class="px-3 max-w-2xl mx-auto">
          <p class="text-black text-xl opacity-80 text-justify text-align-last-auto text-wrap">
            + de 3 años de Experiencia en lenguajes de programacion como Python
            y SQL, conocimiento robusto de dases de datos relacionales y no
            relacionales, familiaridad con tecnologias en la nube para el
            procesamiento de datos en tiempo real, amplio conocimiento en manejo
            de herramientas ETL, modelado de datos y diseño de esquemas, con
            conocimiento de Ciencia de Datos, instrucciones de procesamiento,
            libros de códigos y datos procesados.
          </p>
        </div>
      </header>
      <footer class="flex flex-col flex-grow justify-end pb-20">
        <div class="gap-x-4 flex mx-auto">
          <a
            class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 hover:bg-gray-300 hover:border-gray-300 hover:text-black transition-colors inline-flex justify-center items-center"
            href="https://drive.google.com/file/d/1feg2D8MQ-w8qgVlF8g5zb_ZcFKYHIO0c/view?usp=sharing"
            target="_blank">CURRICULUM</a
          >
        </div>
      </footer>
    </div>
  </div>
</section>
