---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Creador de Contenido − Twitch",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    link: "#",
  },
  {
    date: "Septiembre 2022",
    title: "Principal Frontend Engineer  − Adevinta Spain",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>

<!--Iconos usando Font Awesome-->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <!-- FOOTER -->
  <div id="complexity" class="z-30 relative h-full flex flex-col">
    <header>
      <h2 id="complexity" class="text-white pt-40 text-[40px] font-medium">
        Complejidad
      </h2>
      <div class="px-3 max-w-xl mx-auto">
        <p class="text-white text-sm">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit in
          excepturi ipsam ab eveniet. Repudiandae quo dolor, esse quasi eum
          molestias aliquam veritatis accusamus nulla iste. Ad hic commodi quod!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nulla
          eligendi eius veniam, aliquid dolore eum, adipisci consequuntur
          facere, quidem ipsum quod. Quaerat quibusdam esse molestias reiciendis
          sit atque laboriosam?
        </p>
      </div>
    </header>
    <div id="Contact" class="flex flex-col flex-grow justify-end text-white">
      <footer>
        <div class="banner-wrapper flex flex-col">
          <div class="icon-text flex flex-grow">
            <div
              class="icon-text-icon px-10 py-3 flex flex-grow [&>li>a]:inline-block z-10 justify-center"
            >
              <ul class="footer-nav">
                <li><a href="#Index">Inicio</a></li>
                <li><a href="#profile">Perfil</a></li>
                <li><a href="#portfolio">Portafolio</a></li>
                <li><a href="#services">Servicios</a></li>
              </ul>
            </div>
            <div class="icon-text-text flex flex-grow">
              <ul
                class="social flex flex-grow items-center justify-center z-40 text-[60px] space-x-10 basis-0"
              >
                <li>
                  <a href="mailto:diegovasquez0197@gmail.com" target="_blank">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/DataDiegoVasquez" target="_blank">
                    <i class="fa-brands fa-square-github"></i>
                  </a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/diegofedericovasquezromero/"
                    target="_blank"
                  >
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

      <footer
        class="second-footer flex flex-col justify-center font-light text-xs"
      >
        <p class="copyright">
          &copy;<a href="http://DataDiego.com" target="_blank">
            [2023] VaData.com, All rights reserved. Powered by DiegoVasquez</a
          >
        </p>
      </footer>
    </div>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      class="h-full w-full object-cover object-center bg-image"
      src="/Fractal.png"
      alt="Fondo Analitica futuristica"
    />
  </div>
</section>
